# Virtual Environment
venv
.venv

# Environment config
.env

# Python files
__pycache__
*.pyc

# LaTex

# Only check in the sample

*.tex
!sample.tex

*.pdf
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
